include layout

block content
  .container.table-responsive.mt-5
    div(style='background-color: #ebebeb;')
      h2 Input New Students
    form.shadow-md.w-full.mt-5(action='/students/edit', method='POST')
      .form-group.row
        label.col-sm-2.col-form-label(for='admission_date') Admission Date
        .col-sm-10
          input#admission_date.form-control(type='text',value=admission_date, name='admission_date', disabled='')
      .form-group.row
        label.col-sm-2.col-form-label(for='name') Name
        .col-sm-10
          input#name.form-control(type='text', name='name', value=sname, required='')
          input#student_id(type="hidden", name="student_id", value=student_id)
      .form-group.row
        label.col-sm-2.col-form-label(for='gender') Gender
        .col-sm-10
          input(type='radio', name='gender', value='M', align='left', checked=sgender=='M')
          |  M
          input(type='radio', name='gender', value='F', checked=sgender=='F')
          |  F
      .form-group.row
        label.col-sm-2.col-form-label(for='date_of_birth') Date Of Birth
        .col-sm-10
          input#date_of_birth.form-control.datepicker(type='text', name='date_of_birth', value=sdob, required='')
      .form-group.row
        label.col-sm-2.col-form-label(for='student_email') Student Email
        .col-sm-10
          input#student_email.form-control(type='email', name='student_email', value=student_email, required='')
      .form-group.row
        label.col-sm-2.col-form-label(for='date_of_birth') Address
        .col-sm-10
          textarea#address.form-control(name='address', required='')=saddress
        .col-sm-10
          input.btn.btn-info(type='submit', value='Update')
